*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#fafafa;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#FFD400;
}

header a{
text-decoration:none;
color:#000;
font-weight:bold;
margin-left:20px;
}

.hero{
height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:50px;
}

.hero p{
margin:20px;
font-size:22px;
}

.buttons{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.btn{
padding:15px 35px;
background:black;
color:white;
text-decoration:none;
border-radius:12px;
transition:.3s;
}

.btn:hover{
background:#FFD400;
color:black;
}

.services{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:40px;
}

.card{
padding:30px;
background:white;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.15);
text-align:center;
}

footer{
padding:20px;
text-align:center;
background:black;
color:white;
}
