body{
margin:0;
font-family:Arial;
background:#f5f5f5;
}

header{
padding:10px;
background:#1976D2;
color:white;
display:flex;
gap:10px;
align-items:center;
}

header input{
flex:1;
padding:10px;
border:none;
border-radius:5px;
}

button{
padding:10px;
border:none;
border-radius:5px;
cursor:pointer;
}

#map{
height:92vh;
width:100%;
}
